body {
  margin: 0;
  background: #123;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.container canvas {
  margin: 2vmax;
}
